<p>
  <strong>Menu Title:</strong>
  <%= @menu.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @menu.body %>
</p>
<p>
  <strong>Selections:</strong>
  <%= render @menu.selections %>
  </p>
  <p>

</p>
