<p>
  <%= link_to 'Home', root_path() %> <br>
</p>
<p>
  <strong>Name:</strong>
  <%= selection.name %>
</p>
<p>
  <strong>Ingeredients:</strong>
  <%= selection.ingredients %>
</p>
<p>
  <strong>Price:</strong>
  <%= selection.price %>
</p>
